Voice-Lead-Agent.compact.json
{
  "name": "Voice-Lead-Agent (compact pattern)",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-chat-compact",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1040,
        0
      ],
      "id": "webhook-node",
      "name": "Webhook",
      "webhookId": "agent-chat-compact-webhook"
    },
    {
      "parameters": {
        "functionCode": "const body = $json.body ?? {};\n\nconst message = body.message ?? body.user_message ?? '';\nconst sessionId = body.sessionId ?? null;\nconst context = body.context ?? {};\n\nconst state = body.state ?? {\n  phase: 'idle',\n  pending_slot: null,\n  booking_intent: false,\n};\n\nreturn [{ json: { message, sessionId, context, state } }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -820,
        0
      ],
      "id": "normalize-node",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "functionCode": "const message = ($json.message ?? '').toString();\nconst state = $json.state ?? {};\n\nconst confirmRe = /\\b(yes|yeah|yep|please|book|confirm|ok|okay|ja|bitte|mach|buche|buchen)\\b/i;\nconst weekdayRe = /(montag|dienstag|mittwoch|donnerstag|freitag|samstag|sonntag|monday|tuesday|wednesday|thursday|friday|saturday|sunday)/i;\nconst hasWeekday = weekdayRe.test(message);\n\nconst confirm_booking = !!state?.pending_slot?.start && !!state?.pending_slot?.end && confirmRe.test(message) && !hasWeekday;\n\nconst policy = {\n  tz: ($env.AGENT_TZ ?? $env.TZ ?? 'Europe/Berlin').toString(),\n  workdays: ($env.AGENT_WORKDAYS ?? '1,2,3,4,5').toString(),\n  workStart: ($env.AGENT_WORK_START ?? '09:00').toString(),\n  workEnd: ($env.AGENT_WORK_END ?? '17:00').toString(),\n  horizonDays: Number($env.AGENT_HORIZON_DAYS ?? 30) || 30,\n  durationMinutes: 30,\n};\n\nfunction parseHHMM(value, fallback) {\n  const m = value?.toString().trim().match(/^(\\d{1,2}):(\\d{2})$/);\n  if (!m) return fallback;\n  const hh = Math.min(23, Math.max(0, Number(m[1])));\n  const mm = Math.min(59, Math.max(0, Number(m[2])));\n  return { hh, mm };\n}\n\nfunction parseSlotCandidate(text) {\n  const lower = text.toLowerCase();\n  const weekdayMap = {\n    montag: 1,\n    dienstag: 2,\n    mittwoch: 3,\n    donnerstag: 4,\n    freitag: 5,\n    samstag: 6,\n    sonntag: 0,\n    monday: 1,\n    tuesday: 2,\n    wednesday: 3,\n    thursday: 4,\n    friday: 5,\n    saturday: 6,\n    sunday: 0,\n  };\n\n  const weekdayKey = Object.keys(weekdayMap).find((k) => new RegExp(`\\\\b${k}\\\\b`, 'i').test(lower));\n  if (!weekdayKey) return null;\n\n  // Supports: \"12 o clock\", \"12 o'clock\", \"12:30\", \"12 uhr\", \"12pm\", \"12 pm\"\n  const timeMatch = lower.match(/\\\\b(\\\\d{1,2})(?:[:.](\\\\d{2}))?\\\\s*(uhr|o\\\\s*'?clock|am|pm)?\\\\b/);\n  if (!timeMatch) return null;\n\n  let hour = Math.min(23, Math.max(0, Number(timeMatch[1])));\n  const minute = timeMatch[2] ? Math.min(59, Math.max(0, Number(timeMatch[2]))) : 0;\n  const suffix = (timeMatch[3] || '').replace(/\\\\s+/g, '');\n  if (suffix === 'pm' && hour < 12) hour += 12;\n  if (suffix === 'am' && hour === 12) hour = 0;\n\n  const targetDow = weekdayMap[weekdayKey];\n  const now = new Date();\n  const todayDow = now.getDay();\n\n  let addDays = (targetDow - todayDow + 7) % 7;\n  const wantsNext = /\\\\bnext\\\\b/i.test(lower);\n\n  const candidate = new Date(now.getFullYear(), now.getMonth(), now.getDate(), hour, minute, 0, 0);\n  if (addDays === 0 && candidate.getTime() <= now.getTime()) addDays = 7;\n  if (wantsNext && addDays === 0) addDays = 7;\n  candidate.setDate(candidate.getDate() + addDays);\n\n  const durationMin = Number(policy.durationMinutes ?? 30) || 30;\n  const end = new Date(candidate.getTime() + durationMin * 60_000);\n  return {\n    start: candidate.toISOString(),\n    end: end.toISOString(),\n    label: candidate.toLocaleString(),\n    confidence: 0.9,\n  };\n}\n\nconst slot_candidate = parseSlotCandidate(message);\n\n// Quick policy validation for candidate (so controller can use it safely)\nlet slot_candidate_ok = false;\nif (slot_candidate) {\n  const startDate = new Date(slot_candidate.start);\n  const workdays = policy.workdays.split(',').map((s) => Number(s.trim())).filter((n) => Number.isFinite(n));\n  const ws = parseHHMM(policy.workStart, { hh: 9, mm: 0 });\n  const we = parseHHMM(policy.workEnd, { hh: 17, mm: 0 });\n  const startMinutes = startDate.getHours() * 60 + startDate.getMinutes();\n  const wsMin = ws.hh * 60 + ws.mm;\n  const weMin = we.hh * 60 + we.mm;\n  const withinWorkday = !workdays.length || workdays.includes(startDate.getDay());\n  const withinHours = startMinutes >= wsMin && startMinutes < weMin;\n  slot_candidate_ok = withinWorkday && withinHours;\n}\n\nreturn [{ json: { ...$json, confirm_booking, policy, slot_candidate, slot_candidate_ok } }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -600,
        0
      ],
      "id": "preprocess-node",
      "name": "Preprocess + Policy"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({\n  model: 'gpt-4o-mini',\n  temperature: 0.2,\n  messages: [\n    {\n      role: 'system',\n      content: [\n        'You are a booking assistant. Return ONLY strict JSON.',\n        '',\n        'Output schema:',\n        '{',\n        '  \"reply\": string,',\n        '  \"booking_intent\": boolean,',\n        '  \"slot\": null | { \"start\": string, \"end\": string, \"label\": string, \"confidence\": number },',\n        '  \"state_update\": object',\n        '}',\n        '',\n        'Rules:',\n        '- If booking_intent is false, slot MUST be null.',\n        '- If user confirms booking (confirm_booking=true) and pending_slot exists, keep booking_intent=true and slot MAY be null (controller will use pending_slot).',\n        '- If user provides a date/time, try to fill slot with ISO-8601 start/end (duration fixed), label is user-friendly.',\n        '- Respect policy window: workdays/work hours/horizon. If user asks outside policy, set slot=null and reply must ask for a valid time.',\n        '- No markdown, no backticks, no extra keys.',\n      ].join('\\n'),\n    },\n    {\n      role: 'user',\n      content: JSON.stringify({\n        now: new Date().toISOString(),\n        message: $json.message,\n        confirm_booking: $json.confirm_booking,\n        state: $json.state,\n        policy: $json.policy,\n      }),\n    },\n  ],\n  response_format: { type: 'json_object' },\n})}}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -360,
        0
      ],
      "id": "openai-http-node",
      "name": "OpenAI (HTTP)",
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const input = $node[\"Preprocess + Policy\"].json;\nconst message = (input.message ?? '').toString();\nconst sessionId = input.sessionId ?? null;\nconst state = input.state ?? {};\nconst policy = input.policy ?? {};\nconst confirm_booking = input.confirm_booking === true;\nconst slot_candidate = input.slot_candidate ?? null;\nconst slot_candidate_ok = input.slot_candidate_ok === true;\n\n// OpenAI node output\nif ($json?.error?.message) {\n  return [{ json: { reply: `LLM Fehler: ${$json.error.message}`, booking_intent: false, do_booking: false, state, sessionId } }];\n}\n\nif (!$json || typeof $json !== 'object' || !Array.isArray($json.choices)) {\n  // fallback: if we have a good deterministic slot candidate, continue without LLM\n  if (slot_candidate && slot_candidate_ok) {\n    const newState = { ...state, phase: 'pending_booking', booking_intent: true, pending_slot: { ...slot_candidate, durationMin: policy.durationMinutes ?? 30 } };\n    return [{ json: { reply: 'Alles klar. Ich prüfe kurz deinen Termin…', booking_intent: true, do_booking: true, slot: slot_candidate, policy, state: newState, message, sessionId } }];\n  }\n  return [{ json: { reply: 'LLM ist gerade nicht verfügbar.', booking_intent: false, do_booking: false, state, sessionId } }];\n}\n\nconst content = $json.choices?.[0]?.message?.content;\nlet parsed;\ntry {\n  parsed = JSON.parse((content ?? '').toString());\n} catch {\n  return [{ json: { reply: (content ?? 'LLM returned non-JSON.').toString(), booking_intent: false, do_booking: false, state, sessionId } }];\n}\n\nlet booking_intent = parsed?.booking_intent === true;\nlet reply = typeof parsed?.reply === 'string' ? parsed.reply : 'OK';\n\nconst state_update = parsed?.state_update && typeof parsed.state_update === 'object' ? parsed.state_update : {};\nlet newState = { ...state, ...state_update };\n\n// Slot handling\nlet slot = parsed?.slot ?? null;\nif (slot && typeof slot === 'object') {\n  const start = typeof slot.start === 'string' ? slot.start : null;\n  const end = typeof slot.end === 'string' ? slot.end : null;\n  const label = typeof slot.label === 'string' ? slot.label : null;\n  const confidence = typeof slot.confidence === 'number' ? slot.confidence : null;\n  if (!start || !end) slot = null;\n  else slot = { start, end, label: label ?? start, confidence: confidence ?? 0.5 };\n}\n\n// Deterministic fallback if LLM didn't extract slot\nif (!slot && slot_candidate && slot_candidate_ok) {\n  slot = slot_candidate;\n  booking_intent = true;\n  if (!reply || reply === 'OK') reply = 'Alles klar. Ich prüfe kurz deinen Termin…';\n}\n\nnewState = { ...newState, booking_intent };\n\n// If user confirmed and we have a pending slot, use it even if LLM left slot null\nif (booking_intent && confirm_booking && !slot && newState?.pending_slot?.start && newState?.pending_slot?.end) {\n  slot = {\n    start: newState.pending_slot.start,\n    end: newState.pending_slot.end,\n    label: newState.pending_slot.label ?? 'the requested time',\n    confidence: 1,\n  };\n}\n\n// Store pending slot if we have one\nif (booking_intent && slot) {\n  newState = {\n    ...newState,\n    phase: 'pending_booking',\n    pending_slot: { start: slot.start, end: slot.end, label: slot.label, durationMin: policy.durationMinutes ?? 30 },\n  };\n}\n\n// Decide if we proceed to tools\nconst do_booking = booking_intent && !!slot;\n\nreturn [{ json: { reply, booking_intent, do_booking, slot, policy, state: newState, message, sessionId } }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -120,
        0
      ],
      "id": "controller-node",
      "name": "Controller (Parse/State)"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"do_booking\"]}}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        120,
        0
      ],
      "id": "if-do-booking-node",
      "name": "Do Booking?"
    },
    {
      "parameters": {
        "functionCode": "const state = $json.state ?? {};\nconst slot = $json.slot;\nconst policy = $json.policy ?? {};\n\nif (!slot?.start || !slot?.end) {\n  return [{ json: { ...$json, do_booking: false, reply: 'Bitte nenn mir Tag + Uhrzeit (Mo–Fr 09:00–17:00).', state } }];\n}\n\nconst workdays = (policy.workdays ?? '1,2,3,4,5').toString().split(',').map(s => Number(s.trim())).filter(n => Number.isFinite(n));\n\nfunction parseHHMM(v, fb){\n  const m = v?.toString().trim().match(/^(\\d{1,2}):(\\d{2})$/);\n  if(!m) return fb;\n  return {hh: Math.min(23, Math.max(0, Number(m[1]))), mm: Math.min(59, Math.max(0, Number(m[2])))};\n}\n\nconst ws = parseHHMM(policy.workStart ?? '09:00', {hh:9,mm:0});\nconst we = parseHHMM(policy.workEnd ?? '17:00', {hh:17,mm:0});\nconst horizonDays = Math.max(1, Number(policy.horizonDays ?? 30) || 30);\n\nconst startDate = new Date(slot.start);\nconst endDate = new Date(slot.end);\n\nif (!Number.isFinite(startDate.getTime()) || !Number.isFinite(endDate.getTime())) {\n  return [{ json: { ...$json, do_booking: false, reply: 'Ich konnte die Uhrzeit nicht lesen. Bitte z.B. \"Monday 11:00\".', state } }];\n}\n\nconst now = new Date();\nconst latest = new Date(now.getTime() + horizonDays*24*60*60_000);\nif (startDate.getTime() > latest.getTime()) {\n  return [{ json: { ...$json, do_booking: false, reply: `Ich kann nur bis ${horizonDays} Tage im Voraus buchen.`, state } }];\n}\n\nif (workdays.length && !workdays.includes(startDate.getDay())) {\n  return [{ json: { ...$json, do_booking: false, reply: 'Ich kann nur Mo–Fr buchen. Bitte nenn mir einen Termin unter der Woche.', state } }];\n}\n\nconst startMinutes = startDate.getHours()*60 + startDate.getMinutes();\nconst wsMin = ws.hh*60 + ws.mm;\nconst weMin = we.hh*60 + we.mm;\nif (startMinutes < wsMin || startMinutes >= weMin) {\n  return [{ json: { ...$json, do_booking: false, reply: `Ich kann nur zwischen ${String(ws.hh).padStart(2,'0')}:${String(ws.mm).padStart(2,'0')} und ${String(we.hh).padStart(2,'0')}:${String(we.mm).padStart(2,'0')} buchen (Mo–Fr).`, state } }];\n}\n\nreturn [{ json: { ...$json, do_booking: true } }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        360,
        -140
      ],
      "id": "policy-node",
      "name": "Policy Validate Slot"
    },
    {
      "parameters": {
        "resource": "calendar",
        "operation": "availability",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "timeMin": "={{$node[\"Policy Validate Slot\"].json.slot.start}}",
        "timeMax": "={{$node[\"Policy Validate Slot\"].json.slot.end}}",
        "options": {
          "outputFormat": "availability"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        600,
        -140
      ],
      "id": "availability-node",
      "name": "Google Calendar Availability",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"available\"]}}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        840,
        -140
      ],
      "id": "if-available-node",
      "name": "Available?"
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "start": "={{$node[\"Policy Validate Slot\"].json.slot.start}}",
        "end": "={{$node[\"Policy Validate Slot\"].json.slot.end}}",
        "useDefaultReminders": true,
        "additionalFields": {
          "summary": "={{'Booking (30min)'}}",
          "description": "={{'Session: ' + ($node[\"Controller (Parse/State)\"].json.sessionId ?? 'n/a') + '\\nMessage: ' + ($node[\"Controller (Parse/State)\"].json.message ?? '')}}",
          "id": "={{('n8n_' + ($node[\"Controller (Parse/State)\"].json.sessionId ?? 'anon') + '_' + ($node[\"Policy Validate Slot\"].json.slot.start ?? '')).replace(/[^a-zA-Z0-9_-]/g,'').slice(0,60)}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1080,
        -220
      ],
      "id": "create-event-node",
      "name": "Create Calendar Event",
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const state = $node[\"Controller (Parse/State)\"].json.state ?? {};\nconst slot = $node[\"Policy Validate Slot\"].json.slot;\n\nif ($json?.error || $json?.message?.includes?.('credential') || $json?.name === 'NodeOperationError') {\n  return [{ json: { reply: 'Konnte nicht buchen: Google Calendar Credentials/Permissions fehlen.', state, booking_intent: true } }];\n}\n\nconst eventId = $json?.id;\nconst newState = { ...state, phase: 'booked', booked_event_id: eventId ?? null, pending_slot: null };\n\nconst label = slot?.label ?? slot?.start ?? 'the requested time';\nreturn [{ json: { reply: `Gebucht: ${label} (30min).`, state: newState, booking_intent: true } }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1320,
        -220
      ],
      "id": "booked-reply-node",
      "name": "Booked Reply"
    },
    {
      "parameters": {
        "functionCode": "const state = $node[\"Controller (Parse/State)\"].json.state ?? {};\nconst slot = $node[\"Policy Validate Slot\"].json.slot;\n\nif ($json?.error || $json?.message?.includes?.('credential') || $json?.name === 'NodeOperationError') {\n  return [{ json: { reply: 'Kalender ist noch nicht verbunden (Google Calendar Credentials fehlen).', state, booking_intent: true } }];\n}\n\nconst label = slot?.label ?? slot?.start ?? 'the requested time';\nreturn [{ json: { reply: `${label} ist leider belegt. Bitte nenn mir eine Alternative (Mo–Fr 09:00–17:00).`, state, booking_intent: true } }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1080,
        -60
      ],
      "id": "busy-reply-node",
      "name": "Busy Reply"
    },
    {
      "parameters": {
        "functionCode": "const reply = $json.reply ?? 'OK';\nconst state = $json.state ?? {};\nconst booking_intent = $json.booking_intent ?? state.booking_intent ?? false;\n\nreturn [{ json: { reply, state, booking_intent } }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        360,
        120
      ],
      "id": "finalize-node",
      "name": "Finalize Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Preprocess + Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preprocess + Policy": {
      "main": [
        [
          {
            "node": "OpenAI (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI (HTTP)": {
      "main": [
        [
          {
            "node": "Controller (Parse/State)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Controller (Parse/State)": {
      "main": [
        [
          {
            "node": "Do Booking?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do Booking?": {
      "main": [
        [
          {
            "node": "Policy Validate Slot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Policy Validate Slot": {
      "main": [
        [
          {
            "node": "Google Calendar Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Availability": {
      "main": [
        [
          {
            "node": "Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Available?": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busy Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Booked Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booked Reply": {
      "main": [
        [
          {
            "node": "Finalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busy Reply": {
      "main": [
        [
          {
            "node": "Finalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
