Voice-Lead-Agent.full.json
{
  "name": "Voice-Lead-Agent (with booking logic) [v2]",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1040, 0],
      "id": "webhook-node",
      "name": "Webhook",
      "webhookId": "agent-chat-webhook"
    },
    {
      "parameters": {
        "functionCode": "const body = $json.body ?? {};\n\nconst message = body.message ?? body.user_message ?? '';\nconst sessionId = body.sessionId ?? null;\nconst context = body.context ?? {};\n\nconst state = body.state ?? {\n  phase: 'qualification',\n  name: null,\n  budget: null,\n  decision_role: null,\n  timeline: null,\n  lead_score: 0,\n  booking_intent: false,\n};\n\nreturn [{ json: { message, sessionId, context, state } }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [-820, 0],
      "id": "normalize-node",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "functionCode": "const message = ($json.message ?? '').toString();\nconst state = $json.state ?? {};\n\nconst weekdayRe = /(montag|dienstag|mittwoch|donnerstag|freitag|samstag|sonntag|monday|tuesday|wednesday|thursday|friday|saturday|sunday)/i;\nconst timeRe = /\\b\\d{1,2}(?:[:.]\\d{2})?\\s*(?:uhr|o\\s*'?clock|am|pm)\\b/i;\n\nconst hasWeekday = weekdayRe.test(message);\nconst hasTime = timeRe.test(message);\nconst asksMeeting = /(termin|meeting|call|demo|beratung|kalender|booking|book)/i.test(message);\n\nconst hasPendingSlot = !!state?.pending_slot?.start && !!state?.pending_slot?.end;\nconst confirmRe = /\\b(yes|yeah|yep|please|book|confirm|ok|okay|ja|bitte|mach|buche|buchen)\\b/i;\nconst confirm_booking = hasPendingSlot && confirmRe.test(message) && !hasWeekday;\n\nconst booking_hint = asksMeeting || (hasWeekday && hasTime) || confirm_booking;\n\nconst system_prompt = `You are a lead-qualification assistant.\nReturn ONLY strict JSON with keys:\n- reply: string\n- booking_intent: boolean\n- state_update: object (partial update)\n\nRules:\n- booking_intent MUST be true ONLY if the user clearly asks to schedule a meeting/call/demo/appointment OR provides a concrete weekday+time for scheduling OR confirms booking for a previously proposed slot.\n- If the user greets (\"hi\", \"hallo\") or asks general questions, booking_intent MUST be false.\n- Keep reply short (1-3 sentences).\n- state_update may include: phase,name,budget,decision_role,timeline,lead_score.\n- Do not include markdown, backticks, or extra keys.`;\n\nconst user_prompt = `Current state:\\n${JSON.stringify(state)}\\n\\nUser message:\\n${message}`;\n\nreturn [{ json: { message, state, booking_hint, confirm_booking, system_prompt, user_prompt, sessionId: $json.sessionId ?? null } }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [-600, 0],
      "id": "build-prompt-node",
      "name": "Build LLM Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({\n  model: 'gpt-4o-mini',\n  temperature: 0.2,\n  messages: [\n    { role: 'system', content: $json.system_prompt },\n    { role: 'user', content: $json.user_prompt },\n  ],\n  response_format: { type: 'json_object' },\n})}}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-360, 0],
      "id": "openai-http-node",
      "name": "OpenAI (HTTP)",
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const message = ($node[\"Build LLM Prompt\"].json.message ?? '').toString();\nconst sessionId = $node[\"Build LLM Prompt\"].json.sessionId ?? null;\nconst state = $node[\"Build LLM Prompt\"].json.state ?? {};\nconst booking_hint = $node[\"Build LLM Prompt\"].json.booking_hint === true;\nconst confirm_booking = $node[\"Build LLM Prompt\"].json.confirm_booking === true;\n\nif ($json?.error?.message) {\n  return [{ json: { reply: `LLM Fehler: ${$json.error.message}`, booking_intent: false, state, message, sessionId } }];\n}\n\nif (!$json || typeof $json !== 'object' || !Array.isArray($json.choices)) {\n  return [{ json: { reply: 'LLM ist gerade nicht verfügbar.', booking_intent: false, state, message, sessionId } }];\n}\n\nconst content = $json.choices?.[0]?.message?.content;\n\nlet parsed;\ntry {\n  parsed = JSON.parse((content ?? '').toString());\n} catch {\n  const fallbackReply = content ? content.toString() : 'LLM returned non-JSON.';\n  return [{ json: { reply: fallbackReply, booking_intent: false, state, message, sessionId } }];\n}\n\nconst modelBooking = parsed.booking_intent === true;\nconst booking_intent = booking_hint && (modelBooking || confirm_booking);\nconst state_update = parsed.state_update && typeof parsed.state_update === 'object' ? parsed.state_update : {};\n\nconst newState = { ...state, ...state_update, booking_intent };\nconst reply = typeof parsed.reply === 'string' ? parsed.reply : 'OK';\n\nreturn [{ json: { reply, booking_intent, state: newState, message, sessionId } }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [-120, 0],
      "id": "merge-state-node",
      "name": "Merge LLM Output"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"booking_intent\"]}}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [120, 0],
      "id": "if-booking-node",
      "name": "Booking?"
    },
	    {
	      "parameters": {
	        "functionCode": "const state = $node[\"Merge LLM Output\"].json.state ?? {};\nconst message = ($node[\"Merge LLM Output\"].json.message ?? '').toString();\n\nconst workdaysEnv = ($env.AGENT_WORKDAYS ?? '1,2,3,4,5').toString();\nconst allowedWorkdays = workdaysEnv\n  .split(',')\n  .map((s) => Number(s.trim()))\n  .filter((n) => Number.isFinite(n));\n\nfunction parseHHMM(value, fallback) {\n  const m = value?.toString().trim().match(/^(\\d{1,2}):(\\d{2})$/);\n  if (!m) return fallback;\n  const hh = Math.min(23, Math.max(0, Number(m[1])));\n  const mm = Math.min(59, Math.max(0, Number(m[2])));\n  return { hh, mm };\n}\n\nconst workStart = parseHHMM($env.AGENT_WORK_START, { hh: 9, mm: 0 });\nconst workEnd = parseHHMM($env.AGENT_WORK_END, { hh: 17, mm: 0 });\nconst horizonDays = Math.max(1, Number($env.AGENT_HORIZON_DAYS ?? 30) || 30);\n\nconst confirmRe = /\\b(yes|yeah|yep|please|book|confirm|ok|okay|ja|bitte|mach|buche|buchen)\\b/i;\nconst confirm = confirmRe.test(message);\n\nfunction parseRequestedTime(text) {\n  const lower = text.toLowerCase();\n  const weekdayMap = {\n    montag: 1,\n    dienstag: 2,\n    mittwoch: 3,\n    donnerstag: 4,\n    freitag: 5,\n    samstag: 6,\n    sonntag: 0,\n    monday: 1,\n    tuesday: 2,\n    wednesday: 3,\n    thursday: 4,\n    friday: 5,\n    saturday: 6,\n    sunday: 0,\n  };\n\n  const weekday = Object.keys(weekdayMap).find((k) => new RegExp(`\\\\b${k}\\\\b`, 'i').test(lower));\n\n  // Supports: \"13 uhr\", \"11 o clock\", \"11 o'clock\", \"11am\", \"11 am\", \"11:30\"\n  const timeMatch = lower.match(/\\\\b(\\\\d{1,2})(?:[:.](\\\\d{2}))?\\\\s*(uhr|o\\\\s*'?clock|am|pm)?\\\\b/);\n\n  if (!weekday || !timeMatch) return null;\n\n  let hour = Math.min(23, Math.max(0, Number(timeMatch[1])));\n  const minute = timeMatch[2] ? Math.min(59, Math.max(0, Number(timeMatch[2]))) : 0;\n  const suffix = (timeMatch[3] || '').replace(/\\\\s+/g, '');\n\n  if (suffix === 'pm' && hour < 12) hour += 12;\n  if (suffix === 'am' && hour === 12) hour = 0;\n\n  const targetDow = weekdayMap[weekday];\n  const now = new Date();\n  const todayDow = now.getDay();\n\n  let addDays = (targetDow - todayDow + 7) % 7;\n\n  const wantsNext = /\\\\bnext\\\\b/i.test(lower);\n\n  const candidate = new Date(now.getFullYear(), now.getMonth(), now.getDate(), hour, minute, 0, 0);\n  if (addDays === 0 && candidate.getTime() <= now.getTime()) addDays = 7;\n  if (wantsNext && addDays === 0) addDays = 7;\n\n  candidate.setDate(candidate.getDate() + addDays);\n  return candidate;\n}\n\nconst durationMin = 30;\n\nconst requested = parseRequestedTime(message);\nif (!requested) {\n  const pending = state?.pending_slot;\n  if (confirm && pending?.start && pending?.end) {\n    return [{\n      json: {\n        need_time: false,\n        requested_start: pending.start,\n        requested_end: pending.end,\n        requested_label: pending.label ?? 'der gewünschte Termin',\n        state,\n      },\n    }];\n  }\n\n  return [{\n    json: {\n      need_time: true,\n      reply: 'Bitte nenn mir Tag + Uhrzeit innerhalb Mo–Fr 09:00–17:00 (z.B. \"next Monday 11 o\\'clock\").',\n      state,\n    },\n  }];\n}\n\n// Policy checks (workdays/hours/horizon)\nconst now = new Date();\nconst latest = new Date(now.getTime() + horizonDays * 24 * 60 * 60_000);\n\nif (requested.getTime() > latest.getTime()) {\n  return [{\n    json: {\n      need_time: true,\n      reply: `Ich kann nur bis ${horizonDays} Tage im Voraus buchen. Bitte wähl einen früheren Termin (Mo–Fr 09:00–17:00).`,\n      state,\n    },\n  }];\n}\n\nif (allowedWorkdays.length && !allowedWorkdays.includes(requested.getDay())) {\n  return [{\n    json: {\n      need_time: true,\n      reply: 'Ich kann nur Mo–Fr buchen. Nenn mir bitte einen Termin unter der Woche (09:00–17:00).',\n      state,\n    },\n  }];\n}\n\nconst startMinutes = requested.getHours() * 60 + requested.getMinutes();\nconst workStartMinutes = workStart.hh * 60 + workStart.mm;\nconst workEndMinutes = workEnd.hh * 60 + workEnd.mm;\n\nif (startMinutes < workStartMinutes || startMinutes >= workEndMinutes) {\n  return [{\n    json: {\n      need_time: true,\n      reply: `Ich kann nur zwischen ${String(workStart.hh).padStart(2,'0')}:${String(workStart.mm).padStart(2,'0')} und ${String(workEnd.hh).padStart(2,'0')}:${String(workEnd.mm).padStart(2,'0')} buchen (Mo–Fr).`,\n      state,\n    },\n  }];\n}\n\nconst start = requested.toISOString();\nconst end = new Date(requested.getTime() + durationMin * 60_000).toISOString();\nconst label = requested.toLocaleString();\n\nconst newState = {\n  ...state,\n  pending_slot: { start, end, label, durationMin },\n};\n\nreturn [{ json: { need_time: false, requested_start: start, requested_end: end, requested_label: label, state: newState } }];"
	      },
	      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [360, -140],
      "id": "parse-slot-node",
      "name": "Parse Requested Slot"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"need_time\"]}}",
              "operation": "equal",
              "value2": false
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [600, -140],
      "id": "if-has-slot-node",
      "name": "Has Slot?"
    },
    {
      "parameters": {
        "resource": "calendar",
        "operation": "availability",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "timeMin": "={{$node[\"Parse Requested Slot\"].json.requested_start}}",
        "timeMax": "={{$node[\"Parse Requested Slot\"].json.requested_end}}",
        "options": {
          "outputFormat": "availability"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [840, -240],
      "id": "calendar-node",
      "name": "Google Calendar Availability",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"available\"]}}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1080, -240],
      "id": "if-available-node",
      "name": "Available?"
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "start": "={{$node[\"Parse Requested Slot\"].json.requested_start}}",
        "end": "={{$node[\"Parse Requested Slot\"].json.requested_end}}",
        "useDefaultReminders": true,
        "additionalFields": {
          "summary": "={{'Booking (30min)'}}",
          "description": "={{'Session: ' + ($node[\"Merge LLM Output\"].json.sessionId ?? 'n/a') + '\\nMessage: ' + ($node[\"Merge LLM Output\"].json.message ?? '') + '\\n\\nState:\\n' + JSON.stringify($node[\"Merge LLM Output\"].json.state ?? {}, null, 2)}}",
          "id": "={{('n8n_' + ($node[\"Merge LLM Output\"].json.sessionId ?? 'anon') + '_' + ($node[\"Parse Requested Slot\"].json.requested_start ?? '')).replace(/[^a-zA-Z0-9_-]/g,'').slice(0,60)}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [1320, -320],
      "id": "create-event-node",
      "name": "Create Calendar Event",
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const state = $node[\"Parse Requested Slot\"].json.state ?? {};\nconst label = $node[\"Parse Requested Slot\"].json.requested_label ?? 'der gewünschte Termin';\n\nif ($json?.error || $json?.message?.includes?.('credential') || $json?.name === 'NodeOperationError') {\n  return [{ json: { reply: 'Konnte den Termin nicht eintragen (Credentials/Permissions fehlen). Bitte Google Calendar Credentials im Node setzen.', state, booking_intent: true } }];\n}\n\nconst eventId = $json?.id;\nconst newState = { ...state, booked_event_id: eventId ?? null, booked_start: $node[\"Parse Requested Slot\"].json.requested_start ?? null };\n\nif (eventId) {\n  return [{ json: { reply: `Gebucht: ${label} (30min).`, state: newState, booking_intent: true } }];\n}\n\nreturn [{ json: { reply: `Ich konnte ${label} leider nicht eintragen. Bitte versuch es nochmal.`, state: newState, booking_intent: true } }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1560, -320],
      "id": "booked-reply-node",
      "name": "Booked Reply"
    },
    {
      "parameters": {
        "functionCode": "const state = $node[\"Parse Requested Slot\"].json.state ?? {};\nconst label = $node[\"Parse Requested Slot\"].json.requested_label ?? 'der gewünschte Termin';\n\nif ($json?.error || $json?.message?.includes?.('credential') || $json?.name === 'NodeOperationError') {\n  return [{ json: { reply: 'Kalender ist noch nicht verbunden (Google Calendar Credentials fehlen). Bitte in n8n Credentials im Node setzen.', state, booking_intent: true } }];\n}\n\nreturn [{ json: { reply: `${label} ist leider belegt. Nenn mir bitte eine Alternative (Tag + Uhrzeit).`, state, booking_intent: true } }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1320, -160],
      "id": "busy-reply-node",
      "name": "Busy Reply"
    },
    {
      "parameters": {
        "functionCode": "const reply = $json.reply ?? 'OK';\nconst state = $json.state ?? {};\nconst booking_intent = $json.booking_intent ?? state.booking_intent ?? false;\n\nreturn [{ json: { reply, state, booking_intent } }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [840, 120],
      "id": "finalize-node",
      "name": "Finalize Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Build LLM Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Prompt": {
      "main": [
        [
          {
            "node": "OpenAI (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI (HTTP)": {
      "main": [
        [
          {
            "node": "Merge LLM Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge LLM Output": {
      "main": [
        [
          {
            "node": "Booking?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking?": {
      "main": [
        [
          {
            "node": "Parse Requested Slot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Requested Slot": {
      "main": [
        [
          {
            "node": "Has Slot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Slot?": {
      "main": [
        [
          {
            "node": "Google Calendar Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Availability": {
      "main": [
        [
          {
            "node": "Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Available?": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busy Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Booked Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booked Reply": {
      "main": [
        [
          {
            "node": "Finalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busy Reply": {
      "main": [
        [
          {
            "node": "Finalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
